<div class="content container-fluid">
  <div class="col-md-9 content2">
    <h1>Bảng Lương Tháng</h1>
    <button class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Tạo Mới</button>
    <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
           aria-describedby="example2_info">
      <thead>
      <tr role="row">
        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending"
            style="width: 10%">Mã NV
        </th>
        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
            aria-label="Browser: activate to sort column ascending" style="width: 300px; text-align: center">Tên NV
        </th>
        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
            aria-label="Browser: activate to sort column ascending" style="width: 300px; text-align: center">Phòng Ban
        </th>
        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
            aria-label="Browser: activate to sort column ascending" style="width: 300px; text-align: center">Chức Vụ
        </th>
        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
            aria-label="Browser: activate to sort column ascending" style="width: 300px; text-align: center">Số Công
        </th>
        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
            aria-label="Browser: activate to sort column ascending" style="width: 300px; text-align: center">Bậc Lương
        </th>
        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
            aria-label="Browser: activate to sort column ascending" style="width: 300px; text-align: center">Phụ Cấp
        </th>
        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
            aria-label="Browser: activate to sort column ascending" style="width: 300px; text-align: center">Lương Tháng
        </th>
        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
            aria-label="Engine version: activate to sort column ascending">Ghi Chú
        </th>
      </tr>
      </thead>
      <tbody>

      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
  <div class="col-md-3">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-success my-2 my-sm-0" type="button">Search <i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
